.root{
    -standard_red: #e01e1e;
    -standard_blue:#1dccc5;
    -standard-grey: #b4b4b4;
}
.labelTitle{
    -fx-background-color: -standard_red;
    -fx-text-fill: white;
    -fx-font-family: "Copperplate Gothic Bold";

}
.buttonMainMenu{
    -fx-background-color: -standard_red;
    -fx-font-family: "Copperplate Gothic Bold";

    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-padding: 0;
    -fx-cursor: hand;
}
